body {
  margin: 0;
  font-family: 'Segoe UI';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgb(130, 231, 139);
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.input-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

label {
  font-family: 'Segoe UI';
  font-weight: 500;
}

input {
  font-family: 'Segoe UI';
  margin-right: 20px;
  padding: 5px;
}

button {
  font-family: 'Segoe UI';
  padding: 5px;
}

h1 {
  font-weight: bold;
  font-family: 'Segoe UI';
  font-size: 50px;
}

table {
  width: auto;
  max-width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin: auto;
  background-color: beige;
  ;
}
th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
th {
  background-color: beige;
}