body {
  margin: 0;
  font-family: 'Nunito';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: bisque;
  background-image: url('./BUS2.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.input-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

label {
  font-family: 'Nunito';
  font-weight: 500;
}

input {
  font-family: 'Nunito';
  margin-right: 20px;
  padding: 5px;
  border-radius: 10px;
  border-color: black;
}

button {
  font-family: 'Nunito';
  padding: 5px;
  background-color: beige;
  border-radius: 10px;
}

h1 {
  font-weight: bold;
  font-family: 'Nunito';
  font-size: 50px;
}

table {
  width: auto;
  max-width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin: auto;
  background-color: beige;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
th {
  background-color: beige;
}